<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

<script type="text/javascript">
$('#new_message').submit (e) ->
  $this = $(this)
  textarea = $this.find('#message_body')
  if $.trim(textarea.val()).length > 1
    App.global_chat.send_message textarea.val(), messages.data('chat-room-id')
    textarea.val('')
  e.preventDefault()
  return false
</script>
